# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo
/.vscode/launch.json
/.tmp_pal_decomp
/.tmp_palladium_cp
/.tmp_palladium_decomp
/.tmp_palladium_extract
/.tmp_palladium_javap